body {
  background-color: rgb(86, 86, 86);
  font-family: "Bitcount Grid Double", system-ui;
}

body.light {
  color: rgb(86, 86, 86);
  background-color: whitesmoke;
}

.wrapping-div {
  color: wheat;
  text-align: center;
}

img {
  max-width: 500px;
  border-radius: 150px;
}

@media (max-width: 480px) {
  img {
    max-width: 100%;
  }

  nav ul li:last-child {
    display: none;
  }
}

ol {
  max-width: 200px;
  margin: 1em auto;
}

.button {
  background-color: #303134;
  border: 1px solid #303134;
  border-radius: 8px;
  color: #e8eaed;
  margin: 11px 4px;
  padding: 0 16px;
  height: 36px;
  min-width: 54px;
  cursor: pointer;
}

.button:hover {
  box-shadow: 0 1px 3px rgba(23, 23, 23, 0.24);
  background-color: #303134;
  border: 1px solid #5f6368;
  color: #e8eaed;
}

header {
  color: wheat;
  display: flex;
  justify-content: space-between;
  padding: 0px 20px;
}

#logo {
  display: flex;
  align-items: center;
}

nav ul {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  gap: 20px;
}

nav ul li .button {
  margin: 0px;
}

.form .filters {
  display: flex;
  flex-direction: column;
  max-width: 300px;
  margin: 0 auto;
  gap: 8px;
}

.form #list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 16px;
}

.game_card {
  border: solid white 1px;
  border-radius: 8px;
  padding-bottom: 15px;
}

.game_card .card_content {
  padding: 0px 15px;
}

.form #list img {
  max-width: 100%;
}

.favorite-btn {
  background-color: #303134;
  border: 1px solid #303134;
  border-radius: 8px;
  color: #e8eaed;
  margin: 11px 4px;
  padding: 0 16px;
  height: 36px;
  min-width: 54px;
  cursor: pointer;
}

.favorite-btn:hover,
.favorite-btn.is-favorite {
  color: goldenrod;
}
